src/main/resources/wsdl/employee.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://com.alfaris.ipsh.soapService.allapis" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="com.alfaris.ipsh.soapService.allapis" targetNamespace="com.alfaris.ipsh.soapService.allapis">
<wsdl:types>
<xs:schema xmlns:tns="http://com.alfaris.ipsh.soapService.allapis" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://com.alfaris.ipsh.soapService.allapis">
<xs:complexType name="employeeInfo">
<xs:sequence>
<xs:element name="employeeId" type="xs:long"/>
<xs:element name="name" type="xs:string"/>
<xs:element name="department" type="xs:string"/>
<xs:element name="phone" type="xs:string"/>
<xs:element name="address" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="serviceStatus">
<xs:sequence>
<xs:element name="status" type="xs:string"/>
<xs:element name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="addEmployeeRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="employeeInfo" type="tns:employeeInfo"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="addEmployeeResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="serviceStatus" type="tns:serviceStatus"/>
<xs:element name="employeeInfo" type="tns:employeeInfo"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="getEmployeeByIdRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="employeeId" type="xs:long"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="getEmployeeResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="employeeInfo" type="tns:employeeInfo"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="updateEmployeeRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="employeeInfo" type="tns:employeeInfo"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="updateEmployeeResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="serviceStatus" type="tns:serviceStatus"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="deleteEmployeeRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="employeeId" type="xs:long"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="deleteEmployeeResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="serviceStatus" type="tns:serviceStatus"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="getAllEmployeeRequest">
<xs:complexType>
<xs:sequence/>
</xs:complexType>
</xs:element>
<xs:element name="getAllEmployeeResponse">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="employeeInfo">
<xs:complexType>
<xs:sequence>
<xs:element name="employeeId" type="xs:long"/>
<xs:element name="name" type="xs:string"/>
<xs:element name="department" type="xs:string"/>
<xs:element name="phone" type="xs:string"/>
<xs:element name="address" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="searchEmployeeRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="searchParam" type="xs:string"/>
<xs:element name="iDisplayStart" type="xs:int"/>
<xs:element name="iDisplayLength" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="searchEmployeeResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="aaData">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" name="employeeInfo">
<xs:complexType>
<xs:sequence>
<xs:element name="employeeId" type="xs:long"/>
<xs:element name="name" type="xs:string"/>
<xs:element name="department" type="xs:string"/>
<xs:element name="phone" type="xs:string"/>
<xs:element name="address" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="iTotalDisplayRecord" type="xs:long"/>
<xs:element name="iTotalRecord" type="xs:long"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
</wsdl:types>
<wsdl:message name="addEmployeeResponse">
<wsdl:part element="sch:addEmployeeResponse" name="addEmployeeResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="updateEmployeeRequest">
<wsdl:part element="sch:updateEmployeeRequest" name="updateEmployeeRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="updateEmployeeResponse">
<wsdl:part element="sch:updateEmployeeResponse" name="updateEmployeeResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="getAllEmployeeRequest">
<wsdl:part element="sch:getAllEmployeeRequest" name="getAllEmployeeRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="getEmployeeResponse">
<wsdl:part element="sch:getEmployeeResponse" name="getEmployeeResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="searchEmployeeRequest">
<wsdl:part element="sch:searchEmployeeRequest" name="searchEmployeeRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="getEmployeeByIdRequest">
<wsdl:part element="sch:getEmployeeByIdRequest" name="getEmployeeByIdRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="deleteEmployeeRequest">
<wsdl:part element="sch:deleteEmployeeRequest" name="deleteEmployeeRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="searchEmployeeResponse">
<wsdl:part element="sch:searchEmployeeResponse" name="searchEmployeeResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="getAllEmployeeResponse">
<wsdl:part element="sch:getAllEmployeeResponse" name="getAllEmployeeResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="addEmployeeRequest">
<wsdl:part element="sch:addEmployeeRequest" name="addEmployeeRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="deleteEmployeeResponse">
<wsdl:part element="sch:deleteEmployeeResponse" name="deleteEmployeeResponse"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="allServiceSoapHttp">
<wsdl:operation name="addEmployee">
<wsdl:input message="tns:addEmployeeRequest" name="addEmployeeRequest"> </wsdl:input>
<wsdl:output message="tns:addEmployeeResponse" name="addEmployeeResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="updateEmployee">
<wsdl:input message="tns:updateEmployeeRequest" name="updateEmployeeRequest"> </wsdl:input>
<wsdl:output message="tns:updateEmployeeResponse" name="updateEmployeeResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="getAllEmployee">
<wsdl:input message="tns:getAllEmployeeRequest" name="getAllEmployeeRequest"> </wsdl:input>
<wsdl:output message="tns:getAllEmployeeResponse" name="getAllEmployeeResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="getEmployee">
<wsdl:output message="tns:getEmployeeResponse" name="getEmployeeResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="searchEmployee">
<wsdl:input message="tns:searchEmployeeRequest" name="searchEmployeeRequest"> </wsdl:input>
<wsdl:output message="tns:searchEmployeeResponse" name="searchEmployeeResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="getEmployeeById">
<wsdl:input message="tns:getEmployeeByIdRequest" name="getEmployeeByIdRequest"> </wsdl:input>
</wsdl:operation>
<wsdl:operation name="deleteEmployee">
<wsdl:input message="tns:deleteEmployeeRequest" name="deleteEmployeeRequest"> </wsdl:input>
<wsdl:output message="tns:deleteEmployeeResponse" name="deleteEmployeeResponse"> </wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="allServiceSoapHttpSoap11" type="tns:allServiceSoapHttp">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="addEmployee">
<soap:operation soapAction=""/>
<wsdl:input name="addEmployeeRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="addEmployeeResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="updateEmployee">
<soap:operation soapAction=""/>
<wsdl:input name="updateEmployeeRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="updateEmployeeResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="getAllEmployee">
<soap:operation soapAction=""/>
<wsdl:input name="getAllEmployeeRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="getAllEmployeeResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="getEmployee">
<soap:operation soapAction=""/>
<wsdl:output name="getEmployeeResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="searchEmployee">
<soap:operation soapAction=""/>
<wsdl:input name="searchEmployeeRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="searchEmployeeResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="getEmployeeById">
<soap:operation soapAction=""/>
<wsdl:input name="getEmployeeByIdRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="deleteEmployee">
<soap:operation soapAction=""/>
<wsdl:input name="deleteEmployeeRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="deleteEmployeeResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="allServiceSoapHttpService">
<wsdl:port binding="tns:allServiceSoapHttpSoap11" name="allServiceSoapHttpSoap11">
<soap:address location="http://localhost:1010/allService"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>